
h1 {
    color: white;
    font-size: 70px;
    padding : 20px;
    margin: 0px;
    background-color: black;
    text-align: center;
}

aside {
    color: darkred;
    float: right;
}

#header{
    margin-top: 0px;
    margin-bottom: 0px;
}

.div1 {
    background-color: grey;
    font-size: 60px;
    text-align: center;

    float: left;
    width: 1000px; 


}

.div2 {
    background-color: darkred;
    font-size: 45.2px;
    text-align: center; 
    float: left;
    height: 120px;
    
}

 #image {
     margin: 0px;
     float : center;
 }

 #container {
     border: 5px solid red;
     margin: 15px;
     background-color: gray;
 }

 #container2 {
    border: 5px solid green;
    margin: 15px;
    background-color: black;
    padding: 40px;
 }
 #one {
     text-align: center;
     margin: 10px;
     padding: 5%;
     font-size: 150%;
     background-color: darkblue;
     


 }

 #two {
    text-align: center;
    margin: 10px;
    padding: 5%;
    font-size: 150%;
    background-color: darkred;
    
 }

 #three {
    text-align: center;
    margin: 10px;
     padding: 5%;
     font-size: 150%;
     background-color:darkorchid;
    

 }

 footer {
     background-color: brown;
     font-size: 40px;
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
 }